body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-bottom: 20px;

}


textarea {
    height: 70vh;
    width: 70%;
}

form {
  font-weight: bold;
  font-size: 18px;

}


.main {
    padding: 20px;
    padding-top:30px;
    margin-left: 20px;
    min-width: 400px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    padding-top: 30px;
    min-width: 180px;
    max-width: 240px;
}

.sidebar form {
  margin-bottom: 20px;
}

.sidebar div {
  margin-top: 5px;
}

.sidebar h2 {
    margin-top: 5px;
    margin-bottom: 20px;
}
